:root {
  --black: #000000;
  --orange: #ffa500;
  --dkGreen: #134000;
  --shadow: -1px 1px 0 var(--black), 1px 1px 0 var(--black),
    1px -1px 0 var(--black), -1px -1px 0 var(--black);
  --myFont: "Itim", cursive;
}

body {
  color: var(--orange);
  background-color: var(--dkGreen);
  font-family: var(--myFont);
}

button {
  background-color: var(--orange);
  border: 3px solid var(--black);
  border-radius: 12px;
  color: var(--black);
  text-align: center;
  margin-bottom: 5px;
}

img {
  height: 100px;
}

li {
  margin: 1em 0;
}

h2,
label,
li {
  text-shadow: var(--shadow);
}

.burgers {
  width: 18rem;
}

.jumbotron {
  background-color: var(--orange);
  text-align: center;
  color: var(--black);
}
